*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body{
  padding:0;
  margin:0;
  background:linear-gradient(to right, lightblue, green );
}

.output{
  align-items:flex-end;
  justify-content:center;
  background-color:rgba(0,0,0,0.75);
  display:flex;
  grid-column:1/-1;
  padding:10px;
  flex-direction:column;
  word-wrap:break-word;
  word-break:break-all;
}

.calculator-grid{
  display:grid;
  justify-content:center;
  align-content:center;
  min-height:100vh;
  grid-template-columns:repeat(4,100px);
  grid-template-rows:minmax(120px,auto) repeat(5,100px);
}

.calculator-grid > button{
  cursor:pointer;
  border:2px solid white;;
  font-size:2rem;
  background-color:rgba(255,255,255,0.65);
  outline:none;
}

.calculator-grid > button:hover{
  background-color: rgba(255,255,255,0.95);
}

.output .previousnum{
  font-size:1.5rem;
  color:rgba(255,255,255,0.75);
}
.output .currentnum{
  font-size:2.5rem;
  color:white;
}

.span-two{
  grid-column: span 2;
}
